// commons
$rlight-required-color: rgb(222, 53,11);

// textinput
$rlight-textinput-background: #fafbfc;
$rlight-textinput-border: #e0e1e6;
$rlight-textinput-hover: #f2f2f2;
$rlight-textinput-focus: #ffffff;
$rlight-textinput-border-color: rgb(76, 154, 255);

// modal
$rlight-modal-body-background-color: rgb(9, 30, 66);
$rlight-modal-body-background-color-a: rgba(9, 30, 66, 0.54);
$rlight-modal-content-background-color: #fefefe;
$rlight-modal-content-border-color: #888;

// checkbox
$rlight-checkbox-box-shadow: #4d94ff;

// button
$rlight-btn-body-color: rgb(255, 255, 255);
$rlight-btn-body-background: rgb(0, 82, 204);
$rlight-btn-body-focus-box-shadow: rgb(76, 154, 255);
$rlight-btn-body-disabled-background: rgba(0, 82, 204, 0.4);
$rlight-btn-body-not-disabled-hover-background: rgb(0, 101, 255);
$rlight-btn-body-secondary-disabled-background: rgba(9, 30, 66, 0.04);
$rlight-btn-body-secondary-disabled-color: rgba(66, 82, 110, 0.1);
$rlight-btn-body-secondary-not-disabled-hover-background: rgba(9, 30, 66, 0.08);
$rlight-btn-body-secondary-not-disabled-hover-color: rgb(66, 82, 110);
$rlight-btn-body-secondary-background:rgba(9, 30, 66, 0.04);
$rlight-btn-body-secondary-color: rgb(66, 82, 110);
$rlight-btn-body-disabled: rgba(66, 82, 110, 0.8);
$rlight-btn-children-wrapper-secondary: rgb(66, 82, 110);
$rlight-btn-body-disabled-body-secondary:rgba(66, 82, 110, 0.4);
        