// commons
$rlight-required-color: #ffb86c;

// textinput
$rlight-textinput-background: #282a36;
$rlight-textinput-border: #bd93f9;
$rlight-textinput-hover: #f2f2f2;
$rlight-textinput-focus: #6272a4;
$rlight-textinput-border-color: #ffb86c;

// modal
$rlight-modal-body-background-color: rgb(98, 114, 164);
$rlight-modal-body-background-color-a: rgba(98, 114, 164, 0.54);
$rlight-modal-content-background-color: #282a36;
$rlight-modal-content-border-color: #44475a;

// checkbox
$rlight-checkbox-box-shadow: #ffb86c;

// button
$rlight-btn-body-color: #000;
$rlight-btn-body-background: rgb(80, 250, 123);
$rlight-btn-body-focus-box-shadow: rgb(255, 184, 108);
$rlight-btn-body-disabled-background: rgba(80, 250, 123, 0.4);
$rlight-btn-body-not-disabled-hover-background: rgb(14, 237, 70);
$rlight-btn-body-secondary-disabled-background: rgba(189, 147, 249, 0.4);
$rlight-btn-body-secondary-disabled-color: rgba(189, 147, 249, 0.1);
$rlight-btn-body-secondary-not-disabled-hover-background: rgba(9, 30, 66, 0.08);
$rlight-btn-body-secondary-not-disabled-hover-color: rgb(66, 82, 110);
$rlight-btn-body-secondary-background:rgba(189, 147, 249, 1);
$rlight-btn-body-secondary-color: rgb(248, 248, 242);
$rlight-btn-body-disabled: rgba(66, 82, 110, 0.8);
$rlight-btn-children-wrapper-secondary: rgb(189, 147, 249);
$rlight-btn-body-disabled-body-secondary:rgba(189, 147, 249, 0.4);
        